<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

<context:annotation-config />

<bean id ="humanheart" class ="com.spring.autowiring.Heart">
	<property name="nameOfHeart" value="human"/>
	<property name="noOfheart" value="1"/>
</bean>
<bean id ="octopusheart" class ="com.spring.autowiring.Heart">
 	<property name="nameOfHeart" value="octopus"/>
	<property name="noOfheart" value="3"/>
</bean>
 <bean id ="human" class ="com.spring.autowiring.Human">      
    
 </bean>


</beans>